/* Reset default margin and padding for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #808080;
}

h1{
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000;
    background-color: #aaa;
    font-size: 24px;
}
#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.square {
    flex: 1;
    max-width: 250px;
    aspect-ratio: 1;
    background-color: black;
    margin: 10px;
    border: 1px solid #000; /* Black border */
}

.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
}

.custom-button {
    flex: 1;
    max-width: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #6a706d;
    color: #000;
    border: 1px solid #000; /* Black border */
    cursor: pointer;
}

.generate-button {
    width: 180px; 
    height: 40px; 
    margin: 10px;
    padding: 10px;
    background-color: #ccc; /* Nice grey color */
    color: #000; /* Black text */
    border: 1px solid #000; /* Black border */
    cursor: pointer;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.stat-item {
    margin-bottom: 10px;
}

.stat-label {
    font-weight: bold;
    margin-right: 5px;
}

.stat-value {
    font-weight: normal;
}

#incorrect-value {
    color: rgb(218, 45, 45);
}
#correct-value {
    color: rgb(53, 255, 53);
}